*,
*::before*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.4;;
 //   font-family: cursive;
}
img{
    max-width: 100%;display: block;
}
h1, h2, h3, p{margin: 0;}

section{padding:7em 0 ;}
.container{
   width: 85%;
    margin: 0 auto;
max-width: 65em;
}

.split{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;

    &>* {
        flex-basis: 15%;
        min-width: 10rem;
    }
}
.btn{
    display: inline-block;
text-decoration: none;
font-size: 1.125rem;
border-radius: .20rem;
padding: .5em 1.25em;
transition:  transform 250ms ease-in-out,
 opacity 250ms linear;
background-color:rgb(100, 149, 237);
font-weight: 700;
text-transform: uppercase;
color:#eee;
}
.btn:hover, .btn:focus{
transform: scale(1.1);
opacity: .9;
}
.main-text{
font-size: 3rem;
font-size:  clamp(2.5rem, calc(5vw +1rem, 3.5rem));
line-height: 1.1;
}
.section-title{
text-align: center;
margin-bottom: 3rem;
line-height: 1.2;
color:rgb(2, 24, 49);
font-size: clamp(3rem, calc(5vw+1rem, 4rem));
}
.hero{
    text-align: center;
    padding: 15em 0;
    
    color: #eee;
    background: #222;

    //when the browser support the feature 
    @supports
(background-blend-mode: multiply){
    background-image:url(./images/image.png),
    radial-gradient(rgb(117, 110, 110), rgb(58, 55, 55));
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
}
.featured{
    background: #eee;

    &__item{
        display: block;
        position: relative;
        transform: scale(.85);
        transition:  transform 250ms ease-in-out;
   text-decoration: none;
   color: rgb(95, 158, 160);
   text-align: center;
   line-height: 1.3;

   

        &:hover{
            transform: scale(1);

            .featured__details{
                opacity: 1;
            }
        } 

        
        //&::after{
        //    content: '';
          // position: absolute;
          //  left: 10%;
           // top: 10%;
         //   padding: 75% 75% 0 0 ;
           // border-radius: 50%;
         //   z-index: -1;
         
        //}
    }
    &__details{
        opacity: 0;
        transition: opacity 250ms linear;

        span{
            display: block;
            font-weight: 700;
            font-size: 2.4rem;
        }
    }
}

